<div mat-dialog-content>
  <h1>Description: </h1>
  <p class="recipe-description">{{ recipeDetails.description }}</p>
  <h2>Cooking time: {{ recipeDetails.cookingTime }}</h2>
  <h2>Preparation time: {{ recipeDetails.preparationTime }}</h2>
  <div class="lists">
    <div class="list">
      <p>Ingredients:</p>
      <ul>
        <li *ngFor="let ingredient of recipeDetails.ingredients">{{ ingredient }}</li>
      </ul>
    </div>
    <div class="list">
      <p>Collections:</p>
      <ul>
        <li *ngFor="let collection of recipeDetails.collections">{{ collection }}</li>
      </ul>
    </div>
    <div class="list">
      <p>Keywords:</p>
      <ul>
        <li *ngFor="let keyword of recipeDetails.keywords">{{ keyword }}</li>
      </ul>
    </div>
    <div class="list">
      <p>Diets:</p>
      <ul>
        <li *ngFor="let diet of recipeDetails.diets">{{ diet }}</li>
      </ul>
    </div>
  </div>
</div>
